.viewport {
  --easing: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 24px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
}

.bars {
  width: 240px;
  height: 4px;
  margin-top: 12px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(var(--radix-password-strength-rule-count), 1fr);
}

.bars[data-step='1'],
.circle[data-step='1'] {
  --color: #e54d2e;
}

:is(.bars, .circle)[data-step='2'] {
  --color: #ec9455;
}

:is(.bars, .circle)[data-step='3'] {
  --color: #e9c162;
}

:is(.bars, .circle)[data-step='4'] {
  --color: #65ba74;
}

.bar {
  background-color: #ccc;
  transition: background 0.2s var(--easing);
}

.bar[data-active='true'] {
  transition: background 0.4s var(--easing);
  background-color: var(--color);
  animation: glow 0.75s ease-out;
}

.bar {
  border-radius: 999px;
}

.circle {
  width: 140px;
  height: 140px;
  margin-top: 2rem;
}

.circleSegment {
  fill: #ccc;
  transition: fill 0.2s var(--easing);
}

.circleSegment[data-active='true'] {
  transition: fill 0.4s var(--easing);
  fill: var(--color);
}

.rules {
  list-style: none;
  margin-block: 8px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #999;
}

.rule {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.2s ease-out;
}

.input {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;
  width: 240px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  font-family: inherit;
  box-shadow: inset 0 0 0 1px #ccc;
  color: #111;

  &::placeholder {
    color: #999;
  }

  &:focus {
    box-shadow:
      inset 0 0 0 1px #5b5bd6,
      0 0 0 2px #000eff25;
  }
}

.progressBar {
  position: relative;
  height: 10px;
  width: 240px;
  border: 1px solid var(--gray-9);
  margin: 1rem 0;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-9);
    transform-origin: left;
    transform: scaleX(var(--radix-password-strength-progress, 0));
    transition: transform 0.2s var(--easing);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0px 10px transparent;
  }

  20%,
  60% {
    box-shadow: 0 0px 10px var(--color);
  }

  100% {
    box-shadow: 0 0px 10px transparent;
  }
}
