*.log
.DS_Store
node_modules
dist
test-output.*
.cache
.parcel-cache
storybook-static

# Yarn 2 build artifacts
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editor-specific
.vscode
.idea

# So devs can maintain their own todo lists in the project
# modulz.slack.com/archives/GFU9U06DB/p1588189767003300
TODO.md
