*.log
.DS_Store
node_modules
dist
test-output.*
.cache
.parcel-cache
.yarn/cache

# Editor-specific
.vscode
.idea

# So devs can maintain their own todo lists in the project
# modulz.slack.com/archives/GFU9U06DB/p1588189767003300
TODO.md
