@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-alpha.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/gray-dark-alpha.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-alpha.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/slate-dark-alpha.css';
@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-alpha.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/sage-dark-alpha.css';
@import '@radix-ui/colors/olive.css';
@import '@radix-ui/colors/olive-alpha.css';
@import '@radix-ui/colors/olive-dark.css';
@import '@radix-ui/colors/olive-dark-alpha.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-alpha.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/sand-dark-alpha.css';
@import '@radix-ui/colors/gold.css';
@import '@radix-ui/colors/gold-alpha.css';
@import '@radix-ui/colors/gold-dark.css';
@import '@radix-ui/colors/gold-dark-alpha.css';
@import '@radix-ui/colors/bronze.css';
@import '@radix-ui/colors/bronze-alpha.css';
@import '@radix-ui/colors/bronze-dark.css';
@import '@radix-ui/colors/bronze-dark-alpha.css';
@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/brown-alpha.css';
@import '@radix-ui/colors/brown-dark.css';
@import '@radix-ui/colors/brown-dark-alpha.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/yellow-alpha.css';
@import '@radix-ui/colors/yellow-dark.css';
@import '@radix-ui/colors/yellow-dark-alpha.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-alpha.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/amber-dark-alpha.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/tomato-alpha.css';
@import '@radix-ui/colors/tomato-dark.css';
@import '@radix-ui/colors/tomato-dark-alpha.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-alpha.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/red-dark-alpha.css';
@import '@radix-ui/colors/ruby.css';
@import '@radix-ui/colors/ruby-alpha.css';
@import '@radix-ui/colors/ruby-dark.css';
@import '@radix-ui/colors/ruby-dark-alpha.css';
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/crimson-alpha.css';
@import '@radix-ui/colors/crimson-dark.css';
@import '@radix-ui/colors/crimson-dark-alpha.css';
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-alpha.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/pink-dark-alpha.css';
@import '@radix-ui/colors/plum.css';
@import '@radix-ui/colors/plum-alpha.css';
@import '@radix-ui/colors/plum-dark.css';
@import '@radix-ui/colors/plum-dark-alpha.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/purple-dark-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-alpha.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/violet-dark-alpha.css';
@import '@radix-ui/colors/iris.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/iris-dark.css';
@import '@radix-ui/colors/iris-dark-alpha.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/indigo-alpha.css';
@import '@radix-ui/colors/indigo-dark.css';
@import '@radix-ui/colors/indigo-dark-alpha.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-alpha.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/blue-dark-alpha.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-alpha.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/cyan-dark-alpha.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-alpha.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/teal-dark-alpha.css';
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-alpha.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/jade-dark-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-alpha.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/green-dark-alpha.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-alpha.css';
@import '@radix-ui/colors/grass-dark.css';
@import '@radix-ui/colors/grass-dark-alpha.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/lime-alpha.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/lime-dark-alpha.css';
@import '@radix-ui/colors/mint.css';
@import '@radix-ui/colors/mint-alpha.css';
@import '@radix-ui/colors/mint-dark.css';
@import '@radix-ui/colors/mint-dark-alpha.css';
@import '@radix-ui/colors/sky-alpha.css';
@import '@radix-ui/colors/sky-dark.css';
@import '@radix-ui/colors/sky-dark-alpha.css';

:root {
  --black-a0: #0000;
  --black-a13: #000;
  --white-a0: #fff0;
  --white-a13: #fff;
}

:root,
.light,
.light-theme {
  --gray-a0: #0000;
  --gray-a13: #000;
  --gray-0: #fff;
  --gray-13: #000;
}

.dark,
.dark-theme {
  --gray-a0: #0000;
  --gray-a13: #fff;
  --gray-0: #000;
  --gray-13: #fff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --black-a0: color(display-p3 0 0 0 / 0);
      --black-a13: color(display-p3 0 0 0 / 1);
      --white-a0: color(display-p3 1 1 1 / 0);
      --white-a13: color(display-p3 1 1 1 / 1);
    }

    :root,
    .light,
    .light-theme {
      --gray-a0: color(display-p3 0 0 0 / 0);
      --gray-a13: color(display-p3 0 0 0 / 1);
      --gray-0: color(display-p3 1 1 1 / 1);
      --gray-13: color(display-p3 0 0 0 / 1);
    }

    .dark,
    .dark-theme {
      --gray-a0: color(display-p3 1 1 1 / 0);
      --gray-a13: color(display-p3 1 1 1 / 1);
      --gray-0: color(display-p3 0 0 0 / 1);
      --gray-13: color(display-p3 1 1 1 / 1);
    }
  }
}

/* aliases */
:root {
  /* gray */
  --color-gray-0: var(--gray-0);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --color-gray-13: var(--gray-13);
  /* gray alpha */
  --color-gray-a0: var(--gray-a0);
  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);
  --color-gray-a13: var(--gray-a13);

  /* black alpha */
  --color-black-a0: var(--black-a0);
  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a8: var(--black-a8);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);
  --color-black-a13: var(--black-a13);

  /* white alpha */
  --color-white-a0: var(--white-a0);
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a8: var(--white-a8);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);
  --color-white-a13: var(--white-a13);

  /* amber */
  --color-amber-1: var(--amber-1);
  --color-amber-2: var(--amber-2);
  --color-amber-3: var(--amber-3);
  --color-amber-4: var(--amber-4);
  --color-amber-5: var(--amber-5);
  --color-amber-6: var(--amber-6);
  --color-amber-7: var(--amber-7);
  --color-amber-8: var(--amber-8);
  --color-amber-9: var(--amber-9);
  --color-amber-10: var(--amber-10);
  --color-amber-11: var(--amber-11);
  --color-amber-12: var(--amber-12);

  /* amber alpha */
  --color-amber-a1: var(--amber-a1);
  --color-amber-a2: var(--amber-a2);
  --color-amber-a3: var(--amber-a3);
  --color-amber-a4: var(--amber-a4);
  --color-amber-a5: var(--amber-a5);
  --color-amber-a6: var(--amber-a6);
  --color-amber-a7: var(--amber-a7);
  --color-amber-a8: var(--amber-a8);
  --color-amber-a9: var(--amber-a9);
  --color-amber-a10: var(--amber-a10);
  --color-amber-a11: var(--amber-a11);
  --color-amber-a12: var(--amber-a12);

  /* blue */
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  /* blue alpha */
  --color-blue-a1: var(--blue-a1);
  --color-blue-a2: var(--blue-a2);
  --color-blue-a3: var(--blue-a3);
  --color-blue-a4: var(--blue-a4);
  --color-blue-a5: var(--blue-a5);
  --color-blue-a6: var(--blue-a6);
  --color-blue-a7: var(--blue-a7);
  --color-blue-a8: var(--blue-a8);
  --color-blue-a9: var(--blue-a9);
  --color-blue-a10: var(--blue-a10);
  --color-blue-a11: var(--blue-a11);
  --color-blue-a12: var(--blue-a12);

  /* bronze */
  --color-bronze-1: var(--bronze-1);
  --color-bronze-2: var(--bronze-2);
  --color-bronze-3: var(--bronze-3);
  --color-bronze-4: var(--bronze-4);
  --color-bronze-5: var(--bronze-5);
  --color-bronze-6: var(--bronze-6);
  --color-bronze-7: var(--bronze-7);
  --color-bronze-8: var(--bronze-8);
  --color-bronze-9: var(--bronze-9);
  --color-bronze-10: var(--bronze-10);
  --color-bronze-11: var(--bronze-11);
  --color-bronze-12: var(--bronze-12);

  /* bronze alpha */
  --color-bronze-a1: var(--bronze-a1);
  --color-bronze-a2: var(--bronze-a2);
  --color-bronze-a3: var(--bronze-a3);
  --color-bronze-a4: var(--bronze-a4);
  --color-bronze-a5: var(--bronze-a5);
  --color-bronze-a6: var(--bronze-a6);
  --color-bronze-a7: var(--bronze-a7);
  --color-bronze-a8: var(--bronze-a8);
  --color-bronze-a9: var(--bronze-a9);
  --color-bronze-a10: var(--bronze-a10);
  --color-bronze-a11: var(--bronze-a11);
  --color-bronze-a12: var(--bronze-a12);

  /* brown */
  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-brown-3: var(--brown-3);
  --color-brown-4: var(--brown-4);
  --color-brown-5: var(--brown-5);
  --color-brown-6: var(--brown-6);
  --color-brown-7: var(--brown-7);
  --color-brown-8: var(--brown-8);
  --color-brown-9: var(--brown-9);
  --color-brown-10: var(--brown-10);
  --color-brown-11: var(--brown-11);
  --color-brown-12: var(--brown-12);

  /* brown alpha */
  --color-brown-a1: var(--brown-a1);
  --color-brown-a2: var(--brown-a2);
  --color-brown-a3: var(--brown-a3);
  --color-brown-a4: var(--brown-a4);
  --color-brown-a5: var(--brown-a5);
  --color-brown-a6: var(--brown-a6);
  --color-brown-a7: var(--brown-a7);
  --color-brown-a8: var(--brown-a8);
  --color-brown-a9: var(--brown-a9);
  --color-brown-a10: var(--brown-a10);
  --color-brown-a11: var(--brown-a11);
  --color-brown-a12: var(--brown-a12);

  /* crimson */
  --color-crimson-1: var(--crimson-1);
  --color-crimson-2: var(--crimson-2);
  --color-crimson-3: var(--crimson-3);
  --color-crimson-4: var(--crimson-4);
  --color-crimson-5: var(--crimson-5);
  --color-crimson-6: var(--crimson-6);
  --color-crimson-7: var(--crimson-7);
  --color-crimson-8: var(--crimson-8);
  --color-crimson-9: var(--crimson-9);
  --color-crimson-10: var(--crimson-10);
  --color-crimson-11: var(--crimson-11);
  --color-crimson-12: var(--crimson-12);

  /* crimson alpha */
  --color-crimson-a1: var(--crimson-a1);
  --color-crimson-a2: var(--crimson-a2);
  --color-crimson-a3: var(--crimson-a3);
  --color-crimson-a4: var(--crimson-a4);
  --color-crimson-a5: var(--crimson-a5);
  --color-crimson-a6: var(--crimson-a6);
  --color-crimson-a7: var(--crimson-a7);
  --color-crimson-a8: var(--crimson-a8);
  --color-crimson-a9: var(--crimson-a9);
  --color-crimson-a10: var(--crimson-a10);
  --color-crimson-a11: var(--crimson-a11);
  --color-crimson-a12: var(--crimson-a12);

  /* cyan */
  --color-cyan-1: var(--cyan-1);
  --color-cyan-2: var(--cyan-2);
  --color-cyan-3: var(--cyan-3);
  --color-cyan-4: var(--cyan-4);
  --color-cyan-5: var(--cyan-5);
  --color-cyan-6: var(--cyan-6);
  --color-cyan-7: var(--cyan-7);
  --color-cyan-8: var(--cyan-8);
  --color-cyan-9: var(--cyan-9);
  --color-cyan-10: var(--cyan-10);
  --color-cyan-11: var(--cyan-11);
  --color-cyan-12: var(--cyan-12);

  /* cyan alpha */
  --color-cyan-a1: var(--cyan-a1);
  --color-cyan-a2: var(--cyan-a2);
  --color-cyan-a3: var(--cyan-a3);
  --color-cyan-a4: var(--cyan-a4);
  --color-cyan-a5: var(--cyan-a5);
  --color-cyan-a6: var(--cyan-a6);
  --color-cyan-a7: var(--cyan-a7);
  --color-cyan-a8: var(--cyan-a8);
  --color-cyan-a9: var(--cyan-a9);
  --color-cyan-a10: var(--cyan-a10);
  --color-cyan-a11: var(--cyan-a11);
  --color-cyan-a12: var(--cyan-a12);

  /* gold */
  --color-gold-1: var(--gold-1);
  --color-gold-2: var(--gold-2);
  --color-gold-3: var(--gold-3);
  --color-gold-4: var(--gold-4);
  --color-gold-5: var(--gold-5);
  --color-gold-6: var(--gold-6);
  --color-gold-7: var(--gold-7);
  --color-gold-8: var(--gold-8);
  --color-gold-9: var(--gold-9);
  --color-gold-10: var(--gold-10);
  --color-gold-11: var(--gold-11);
  --color-gold-12: var(--gold-12);

  /* gold alpha */
  --color-gold-a1: var(--gold-a1);
  --color-gold-a2: var(--gold-a2);
  --color-gold-a3: var(--gold-a3);
  --color-gold-a4: var(--gold-a4);
  --color-gold-a5: var(--gold-a5);
  --color-gold-a6: var(--gold-a6);
  --color-gold-a7: var(--gold-a7);
  --color-gold-a8: var(--gold-a8);
  --color-gold-a9: var(--gold-a9);
  --color-gold-a10: var(--gold-a10);
  --color-gold-a11: var(--gold-a11);
  --color-gold-a12: var(--gold-a12);

  /* grass */
  --color-grass-1: var(--grass-1);
  --color-grass-2: var(--grass-2);
  --color-grass-3: var(--grass-3);
  --color-grass-4: var(--grass-4);
  --color-grass-5: var(--grass-5);
  --color-grass-6: var(--grass-6);
  --color-grass-7: var(--grass-7);
  --color-grass-8: var(--grass-8);
  --color-grass-9: var(--grass-9);
  --color-grass-10: var(--grass-10);
  --color-grass-11: var(--grass-11);
  --color-grass-12: var(--grass-12);

  /* grass alpha */
  --color-grass-a1: var(--grass-a1);
  --color-grass-a2: var(--grass-a2);
  --color-grass-a3: var(--grass-a3);
  --color-grass-a4: var(--grass-a4);
  --color-grass-a5: var(--grass-a5);
  --color-grass-a6: var(--grass-a6);
  --color-grass-a7: var(--grass-a7);
  --color-grass-a8: var(--grass-a8);
  --color-grass-a9: var(--grass-a9);
  --color-grass-a10: var(--grass-a10);
  --color-grass-a11: var(--grass-a11);
  --color-grass-a12: var(--grass-a12);

  /* green */
  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  /* green alpha */
  --color-green-a1: var(--green-a1);
  --color-green-a2: var(--green-a2);
  --color-green-a3: var(--green-a3);
  --color-green-a4: var(--green-a4);
  --color-green-a5: var(--green-a5);
  --color-green-a6: var(--green-a6);
  --color-green-a7: var(--green-a7);
  --color-green-a8: var(--green-a8);
  --color-green-a9: var(--green-a9);
  --color-green-a10: var(--green-a10);
  --color-green-a11: var(--green-a11);
  --color-green-a12: var(--green-a12);

  /* indigo */
  --color-indigo-1: var(--indigo-1);
  --color-indigo-2: var(--indigo-2);
  --color-indigo-3: var(--indigo-3);
  --color-indigo-4: var(--indigo-4);
  --color-indigo-5: var(--indigo-5);
  --color-indigo-6: var(--indigo-6);
  --color-indigo-7: var(--indigo-7);
  --color-indigo-8: var(--indigo-8);
  --color-indigo-9: var(--indigo-9);
  --color-indigo-10: var(--indigo-10);
  --color-indigo-11: var(--indigo-11);
  --color-indigo-12: var(--indigo-12);

  /* indigo alpha */
  --color-indigo-a1: var(--indigo-a1);
  --color-indigo-a2: var(--indigo-a2);
  --color-indigo-a3: var(--indigo-a3);
  --color-indigo-a4: var(--indigo-a4);
  --color-indigo-a5: var(--indigo-a5);
  --color-indigo-a6: var(--indigo-a6);
  --color-indigo-a7: var(--indigo-a7);
  --color-indigo-a8: var(--indigo-a8);
  --color-indigo-a9: var(--indigo-a9);
  --color-indigo-a10: var(--indigo-a10);
  --color-indigo-a11: var(--indigo-a11);
  --color-indigo-a12: var(--indigo-a12);

  /* iris */
  --color-iris-1: var(--iris-1);
  --color-iris-2: var(--iris-2);
  --color-iris-3: var(--iris-3);
  --color-iris-4: var(--iris-4);
  --color-iris-5: var(--iris-5);
  --color-iris-6: var(--iris-6);
  --color-iris-7: var(--iris-7);
  --color-iris-8: var(--iris-8);
  --color-iris-9: var(--iris-9);
  --color-iris-10: var(--iris-10);
  --color-iris-11: var(--iris-11);
  --color-iris-12: var(--iris-12);

  /* iris alpha */
  --color-iris-a1: var(--iris-a1);
  --color-iris-a2: var(--iris-a2);
  --color-iris-a3: var(--iris-a3);
  --color-iris-a4: var(--iris-a4);
  --color-iris-a5: var(--iris-a5);
  --color-iris-a6: var(--iris-a6);
  --color-iris-a7: var(--iris-a7);
  --color-iris-a8: var(--iris-a8);
  --color-iris-a9: var(--iris-a9);
  --color-iris-a10: var(--iris-a10);
  --color-iris-a11: var(--iris-a11);
  --color-iris-a12: var(--iris-a12);

  /* jade */
  --color-jade-1: var(--jade-1);
  --color-jade-2: var(--jade-2);
  --color-jade-3: var(--jade-3);
  --color-jade-4: var(--jade-4);
  --color-jade-5: var(--jade-5);
  --color-jade-6: var(--jade-6);
  --color-jade-7: var(--jade-7);
  --color-jade-8: var(--jade-8);
  --color-jade-9: var(--jade-9);
  --color-jade-10: var(--jade-10);
  --color-jade-11: var(--jade-11);
  --color-jade-12: var(--jade-12);

  /* jade alpha */
  --color-jade-a1: var(--jade-a1);
  --color-jade-a2: var(--jade-a2);
  --color-jade-a3: var(--jade-a3);
  --color-jade-a4: var(--jade-a4);
  --color-jade-a5: var(--jade-a5);
  --color-jade-a6: var(--jade-a6);
  --color-jade-a7: var(--jade-a7);
  --color-jade-a8: var(--jade-a8);
  --color-jade-a9: var(--jade-a9);
  --color-jade-a10: var(--jade-a10);
  --color-jade-a11: var(--jade-a11);
  --color-jade-a12: var(--jade-a12);

  /* lime */
  --color-lime-1: var(--lime-1);
  --color-lime-2: var(--lime-2);
  --color-lime-3: var(--lime-3);
  --color-lime-4: var(--lime-4);
  --color-lime-5: var(--lime-5);
  --color-lime-6: var(--lime-6);
  --color-lime-7: var(--lime-7);
  --color-lime-8: var(--lime-8);
  --color-lime-9: var(--lime-9);
  --color-lime-10: var(--lime-10);
  --color-lime-11: var(--lime-11);
  --color-lime-12: var(--lime-12);

  /* lime alpha */
  --color-lime-a1: var(--lime-a1);
  --color-lime-a2: var(--lime-a2);
  --color-lime-a3: var(--lime-a3);
  --color-lime-a4: var(--lime-a4);
  --color-lime-a5: var(--lime-a5);
  --color-lime-a6: var(--lime-a6);
  --color-lime-a7: var(--lime-a7);
  --color-lime-a8: var(--lime-a8);
  --color-lime-a9: var(--lime-a9);
  --color-lime-a10: var(--lime-a10);
  --color-lime-a11: var(--lime-a11);
  --color-lime-a12: var(--lime-a12);

  /* mauve */
  --color-mauve-1: var(--mauve-1);
  --color-mauve-2: var(--mauve-2);
  --color-mauve-3: var(--mauve-3);
  --color-mauve-4: var(--mauve-4);
  --color-mauve-5: var(--mauve-5);
  --color-mauve-6: var(--mauve-6);
  --color-mauve-7: var(--mauve-7);
  --color-mauve-8: var(--mauve-8);
  --color-mauve-9: var(--mauve-9);
  --color-mauve-10: var(--mauve-10);
  --color-mauve-11: var(--mauve-11);
  --color-mauve-12: var(--mauve-12);

  /* mauve alpha */
  --color-mauve-a1: var(--mauve-a1);
  --color-mauve-a2: var(--mauve-a2);
  --color-mauve-a3: var(--mauve-a3);
  --color-mauve-a4: var(--mauve-a4);
  --color-mauve-a5: var(--mauve-a5);
  --color-mauve-a6: var(--mauve-a6);
  --color-mauve-a7: var(--mauve-a7);
  --color-mauve-a8: var(--mauve-a8);
  --color-mauve-a9: var(--mauve-a9);
  --color-mauve-a10: var(--mauve-a10);
  --color-mauve-a11: var(--mauve-a11);
  --color-mauve-a12: var(--mauve-a12);

  /* mint */
  --color-mint-1: var(--mint-1);
  --color-mint-2: var(--mint-2);
  --color-mint-3: var(--mint-3);
  --color-mint-4: var(--mint-4);
  --color-mint-5: var(--mint-5);
  --color-mint-6: var(--mint-6);
  --color-mint-7: var(--mint-7);
  --color-mint-8: var(--mint-8);
  --color-mint-9: var(--mint-9);
  --color-mint-10: var(--mint-10);
  --color-mint-11: var(--mint-11);
  --color-mint-12: var(--mint-12);

  /* mint alpha */
  --color-mint-a1: var(--mint-a1);
  --color-mint-a2: var(--mint-a2);
  --color-mint-a3: var(--mint-a3);
  --color-mint-a4: var(--mint-a4);
  --color-mint-a5: var(--mint-a5);
  --color-mint-a6: var(--mint-a6);
  --color-mint-a7: var(--mint-a7);
  --color-mint-a8: var(--mint-a8);
  --color-mint-a9: var(--mint-a9);
  --color-mint-a10: var(--mint-a10);
  --color-mint-a11: var(--mint-a11);
  --color-mint-a12: var(--mint-a12);

  /* olive */
  --color-olive-1: var(--olive-1);
  --color-olive-2: var(--olive-2);
  --color-olive-3: var(--olive-3);
  --color-olive-4: var(--olive-4);
  --color-olive-5: var(--olive-5);
  --color-olive-6: var(--olive-6);
  --color-olive-7: var(--olive-7);
  --color-olive-8: var(--olive-8);
  --color-olive-9: var(--olive-9);
  --color-olive-10: var(--olive-10);
  --color-olive-11: var(--olive-11);
  --color-olive-12: var(--olive-12);

  /* olive alpha */
  --color-olive-a1: var(--olive-a1);
  --color-olive-a2: var(--olive-a2);
  --color-olive-a3: var(--olive-a3);
  --color-olive-a4: var(--olive-a4);
  --color-olive-a5: var(--olive-a5);
  --color-olive-a6: var(--olive-a6);
  --color-olive-a7: var(--olive-a7);
  --color-olive-a8: var(--olive-a8);
  --color-olive-a9: var(--olive-a9);
  --color-olive-a10: var(--olive-a10);
  --color-olive-a11: var(--olive-a11);
  --color-olive-a12: var(--olive-a12);

  /* orange */
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  /* orange alpha */
  --color-orange-a1: var(--orange-a1);
  --color-orange-a2: var(--orange-a2);
  --color-orange-a3: var(--orange-a3);
  --color-orange-a4: var(--orange-a4);
  --color-orange-a5: var(--orange-a5);
  --color-orange-a6: var(--orange-a6);
  --color-orange-a7: var(--orange-a7);
  --color-orange-a8: var(--orange-a8);
  --color-orange-a9: var(--orange-a9);
  --color-orange-a10: var(--orange-a10);
  --color-orange-a11: var(--orange-a11);
  --color-orange-a12: var(--orange-a12);

  /* pink */
  --color-pink-1: var(--pink-1);
  --color-pink-2: var(--pink-2);
  --color-pink-3: var(--pink-3);
  --color-pink-4: var(--pink-4);
  --color-pink-5: var(--pink-5);
  --color-pink-6: var(--pink-6);
  --color-pink-7: var(--pink-7);
  --color-pink-8: var(--pink-8);
  --color-pink-9: var(--pink-9);
  --color-pink-10: var(--pink-10);
  --color-pink-11: var(--pink-11);
  --color-pink-12: var(--pink-12);

  /* pink alpha */
  --color-pink-a1: var(--pink-a1);
  --color-pink-a2: var(--pink-a2);
  --color-pink-a3: var(--pink-a3);
  --color-pink-a4: var(--pink-a4);
  --color-pink-a5: var(--pink-a5);
  --color-pink-a6: var(--pink-a6);
  --color-pink-a7: var(--pink-a7);
  --color-pink-a8: var(--pink-a8);
  --color-pink-a9: var(--pink-a9);
  --color-pink-a10: var(--pink-a10);
  --color-pink-a11: var(--pink-a11);
  --color-pink-a12: var(--pink-a12);

  /* plum */
  --color-plum-1: var(--plum-1);
  --color-plum-2: var(--plum-2);
  --color-plum-3: var(--plum-3);
  --color-plum-4: var(--plum-4);
  --color-plum-5: var(--plum-5);
  --color-plum-6: var(--plum-6);
  --color-plum-7: var(--plum-7);
  --color-plum-8: var(--plum-8);
  --color-plum-9: var(--plum-9);
  --color-plum-10: var(--plum-10);
  --color-plum-11: var(--plum-11);
  --color-plum-12: var(--plum-12);

  /* plum alpha */
  --color-plum-a1: var(--plum-a1);
  --color-plum-a2: var(--plum-a2);
  --color-plum-a3: var(--plum-a3);
  --color-plum-a4: var(--plum-a4);
  --color-plum-a5: var(--plum-a5);
  --color-plum-a6: var(--plum-a6);
  --color-plum-a7: var(--plum-a7);
  --color-plum-a8: var(--plum-a8);
  --color-plum-a9: var(--plum-a9);
  --color-plum-a10: var(--plum-a10);
  --color-plum-a11: var(--plum-a11);
  --color-plum-a12: var(--plum-a12);

  /* purple */
  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);

  /* purple alpha */
  --color-purple-a1: var(--purple-a1);
  --color-purple-a2: var(--purple-a2);
  --color-purple-a3: var(--purple-a3);
  --color-purple-a4: var(--purple-a4);
  --color-purple-a5: var(--purple-a5);
  --color-purple-a6: var(--purple-a6);
  --color-purple-a7: var(--purple-a7);
  --color-purple-a8: var(--purple-a8);
  --color-purple-a9: var(--purple-a9);
  --color-purple-a10: var(--purple-a10);
  --color-purple-a11: var(--purple-a11);
  --color-purple-a12: var(--purple-a12);

  /* red */
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  /* red alpha */
  --color-red-a1: var(--red-a1);
  --color-red-a2: var(--red-a2);
  --color-red-a3: var(--red-a3);
  --color-red-a4: var(--red-a4);
  --color-red-a5: var(--red-a5);
  --color-red-a6: var(--red-a6);
  --color-red-a7: var(--red-a7);
  --color-red-a8: var(--red-a8);
  --color-red-a9: var(--red-a9);
  --color-red-a10: var(--red-a10);
  --color-red-a11: var(--red-a11);
  --color-red-a12: var(--red-a12);

  /* ruby */
  --color-ruby-1: var(--ruby-1);
  --color-ruby-2: var(--ruby-2);
  --color-ruby-3: var(--ruby-3);
  --color-ruby-4: var(--ruby-4);
  --color-ruby-5: var(--ruby-5);
  --color-ruby-6: var(--ruby-6);
  --color-ruby-7: var(--ruby-7);
  --color-ruby-8: var(--ruby-8);
  --color-ruby-9: var(--ruby-9);
  --color-ruby-10: var(--ruby-10);
  --color-ruby-11: var(--ruby-11);
  --color-ruby-12: var(--ruby-12);

  /* ruby alpha */
  --color-ruby-a1: var(--ruby-a1);
  --color-ruby-a2: var(--ruby-a2);
  --color-ruby-a3: var(--ruby-a3);
  --color-ruby-a4: var(--ruby-a4);
  --color-ruby-a5: var(--ruby-a5);
  --color-ruby-a6: var(--ruby-a6);
  --color-ruby-a7: var(--ruby-a7);
  --color-ruby-a8: var(--ruby-a8);
  --color-ruby-a9: var(--ruby-a9);
  --color-ruby-a10: var(--ruby-a10);
  --color-ruby-a11: var(--ruby-a11);
  --color-ruby-a12: var(--ruby-a12);

  /* sage */
  --color-sage-1: var(--sage-1);
  --color-sage-2: var(--sage-2);
  --color-sage-3: var(--sage-3);
  --color-sage-4: var(--sage-4);
  --color-sage-5: var(--sage-5);
  --color-sage-6: var(--sage-6);
  --color-sage-7: var(--sage-7);
  --color-sage-8: var(--sage-8);
  --color-sage-9: var(--sage-9);
  --color-sage-10: var(--sage-10);
  --color-sage-11: var(--sage-11);
  --color-sage-12: var(--sage-12);

  /* sage alpha */
  --color-sage-a1: var(--sage-a1);
  --color-sage-a2: var(--sage-a2);
  --color-sage-a3: var(--sage-a3);
  --color-sage-a4: var(--sage-a4);
  --color-sage-a5: var(--sage-a5);
  --color-sage-a6: var(--sage-a6);
  --color-sage-a7: var(--sage-a7);
  --color-sage-a8: var(--sage-a8);
  --color-sage-a9: var(--sage-a9);
  --color-sage-a10: var(--sage-a10);
  --color-sage-a11: var(--sage-a11);
  --color-sage-a12: var(--sage-a12);

  /* sand */
  --color-sand-1: var(--sand-1);
  --color-sand-2: var(--sand-2);
  --color-sand-3: var(--sand-3);
  --color-sand-4: var(--sand-4);
  --color-sand-5: var(--sand-5);
  --color-sand-6: var(--sand-6);
  --color-sand-7: var(--sand-7);
  --color-sand-8: var(--sand-8);
  --color-sand-9: var(--sand-9);
  --color-sand-10: var(--sand-10);
  --color-sand-11: var(--sand-11);
  --color-sand-12: var(--sand-12);

  /* sand alpha */
  --color-sand-a1: var(--sand-a1);
  --color-sand-a2: var(--sand-a2);
  --color-sand-a3: var(--sand-a3);
  --color-sand-a4: var(--sand-a4);
  --color-sand-a5: var(--sand-a5);
  --color-sand-a6: var(--sand-a6);
  --color-sand-a7: var(--sand-a7);
  --color-sand-a8: var(--sand-a8);
  --color-sand-a9: var(--sand-a9);
  --color-sand-a10: var(--sand-a10);
  --color-sand-a11: var(--sand-a11);
  --color-sand-a12: var(--sand-a12);

  /* sky */
  --color-sky-1: var(--sky-1);
  --color-sky-2: var(--sky-2);
  --color-sky-3: var(--sky-3);
  --color-sky-4: var(--sky-4);
  --color-sky-5: var(--sky-5);
  --color-sky-6: var(--sky-6);
  --color-sky-7: var(--sky-7);
  --color-sky-8: var(--sky-8);
  --color-sky-9: var(--sky-9);
  --color-sky-10: var(--sky-10);
  --color-sky-11: var(--sky-11);
  --color-sky-12: var(--sky-12);

  /* sky alpha */
  --color-sky-a1: var(--sky-a1);
  --color-sky-a2: var(--sky-a2);
  --color-sky-a3: var(--sky-a3);
  --color-sky-a4: var(--sky-a4);
  --color-sky-a5: var(--sky-a5);
  --color-sky-a6: var(--sky-a6);
  --color-sky-a7: var(--sky-a7);
  --color-sky-a8: var(--sky-a8);
  --color-sky-a9: var(--sky-a9);
  --color-sky-a10: var(--sky-a10);
  --color-sky-a11: var(--sky-a11);
  --color-sky-a12: var(--sky-a12);

  /* slate */
  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);

  /* slate alpha */
  --color-slate-a1: var(--slate-a1);
  --color-slate-a2: var(--slate-a2);
  --color-slate-a3: var(--slate-a3);
  --color-slate-a4: var(--slate-a4);
  --color-slate-a5: var(--slate-a5);
  --color-slate-a6: var(--slate-a6);
  --color-slate-a7: var(--slate-a7);
  --color-slate-a8: var(--slate-a8);
  --color-slate-a9: var(--slate-a9);
  --color-slate-a10: var(--slate-a10);
  --color-slate-a11: var(--slate-a11);
  --color-slate-a12: var(--slate-a12);

  /* teal */
  --color-teal-1: var(--teal-1);
  --color-teal-2: var(--teal-2);
  --color-teal-3: var(--teal-3);
  --color-teal-4: var(--teal-4);
  --color-teal-5: var(--teal-5);
  --color-teal-6: var(--teal-6);
  --color-teal-7: var(--teal-7);
  --color-teal-8: var(--teal-8);
  --color-teal-9: var(--teal-9);
  --color-teal-10: var(--teal-10);
  --color-teal-11: var(--teal-11);
  --color-teal-12: var(--teal-12);

  /* teal alpha */
  --color-teal-a1: var(--teal-a1);
  --color-teal-a2: var(--teal-a2);
  --color-teal-a3: var(--teal-a3);
  --color-teal-a4: var(--teal-a4);
  --color-teal-a5: var(--teal-a5);
  --color-teal-a6: var(--teal-a6);
  --color-teal-a7: var(--teal-a7);
  --color-teal-a8: var(--teal-a8);
  --color-teal-a9: var(--teal-a9);
  --color-teal-a10: var(--teal-a10);
  --color-teal-a11: var(--teal-a11);
  --color-teal-a12: var(--teal-a12);

  /* tomato */
  --color-tomato-1: var(--tomato-1);
  --color-tomato-2: var(--tomato-2);
  --color-tomato-3: var(--tomato-3);
  --color-tomato-4: var(--tomato-4);
  --color-tomato-5: var(--tomato-5);
  --color-tomato-6: var(--tomato-6);
  --color-tomato-7: var(--tomato-7);
  --color-tomato-8: var(--tomato-8);
  --color-tomato-9: var(--tomato-9);
  --color-tomato-10: var(--tomato-10);
  --color-tomato-11: var(--tomato-11);
  --color-tomato-12: var(--tomato-12);

  /* tomato alpha */
  --color-tomato-a1: var(--tomato-a1);
  --color-tomato-a2: var(--tomato-a2);
  --color-tomato-a3: var(--tomato-a3);
  --color-tomato-a4: var(--tomato-a4);
  --color-tomato-a5: var(--tomato-a5);
  --color-tomato-a6: var(--tomato-a6);
  --color-tomato-a7: var(--tomato-a7);
  --color-tomato-a8: var(--tomato-a8);
  --color-tomato-a9: var(--tomato-a9);
  --color-tomato-a10: var(--tomato-a10);
  --color-tomato-a11: var(--tomato-a11);
  --color-tomato-a12: var(--tomato-a12);

  /* violet */
  --color-violet-1: var(--violet-1);
  --color-violet-2: var(--violet-2);
  --color-violet-3: var(--violet-3);
  --color-violet-4: var(--violet-4);
  --color-violet-5: var(--violet-5);
  --color-violet-6: var(--violet-6);
  --color-violet-7: var(--violet-7);
  --color-violet-8: var(--violet-8);
  --color-violet-9: var(--violet-9);
  --color-violet-10: var(--violet-10);
  --color-violet-11: var(--violet-11);
  --color-violet-12: var(--violet-12);

  /* violet alpha */
  --color-violet-a1: var(--violet-a1);
  --color-violet-a2: var(--violet-a2);
  --color-violet-a3: var(--violet-a3);
  --color-violet-a4: var(--violet-a4);
  --color-violet-a5: var(--violet-a5);
  --color-violet-a6: var(--violet-a6);
  --color-violet-a7: var(--violet-a7);
  --color-violet-a8: var(--violet-a8);
  --color-violet-a9: var(--violet-a9);
  --color-violet-a10: var(--violet-a10);
  --color-violet-a11: var(--violet-a11);
  --color-violet-a12: var(--violet-a12);

  /* yellow */
  --color-yellow-1: var(--yellow-1);
  --color-yellow-2: var(--yellow-2);
  --color-yellow-3: var(--yellow-3);
  --color-yellow-4: var(--yellow-4);
  --color-yellow-5: var(--yellow-5);
  --color-yellow-6: var(--yellow-6);
  --color-yellow-7: var(--yellow-7);
  --color-yellow-8: var(--yellow-8);
  --color-yellow-9: var(--yellow-9);
  --color-yellow-10: var(--yellow-10);
  --color-yellow-11: var(--yellow-11);
  --color-yellow-12: var(--yellow-12);

  /* yellow alpha */
  --color-yellow-a1: var(--yellow-a1);
  --color-yellow-a2: var(--yellow-a2);
  --color-yellow-a3: var(--yellow-a3);
  --color-yellow-a4: var(--yellow-a4);
  --color-yellow-a5: var(--yellow-a5);
  --color-yellow-a6: var(--yellow-a6);
  --color-yellow-a7: var(--yellow-a7);
  --color-yellow-a8: var(--yellow-a8);
  --color-yellow-a9: var(--yellow-a9);
  --color-yellow-a10: var(--yellow-a10);
  --color-yellow-a11: var(--yellow-a11);
  --color-yellow-a12: var(--yellow-a12);
}
