* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid hsl(0deg 0% 40%);
}

*::before,
*::after {
  box-sizing: inherit;
}

:host,
html {
  font-size: 16px;
  line-height: 1.5;
  font-family:
    var(--font-family-root, ui-sans-serif),
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-synthesis: none;
  font-variation-settings: normal;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  line-height: inherit;
  height: 100%;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  appearance: button;
  background-color: initial;
  background-image: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: none;
  letter-spacing: inherit;
  color: inherit;
  border: 0;
  background: 0;
  box-shadow: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

progress {
  vertical-align: initial;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-family-mono, ui-monospace), monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

menu,
ol,
ul {
  list-style: none;
}

summary {
  display: list-item;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
