@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/purple-dark.css';

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

:root {
  --color-white: #fff;
  --color-gray100: #ccc;
  --color-gray300: #aaa;
  --color-black: #111;
  --color-red: crimson;
  --color-green: green;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
